<!DOCTYPE html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Spotify App</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.css">
	<link rel="stylesheet" href="css/styles.css">
</head>
<body>
	<main class="my-container" ng-controller="mainController as main">
		<div id="need-auth">
		</div>
		<div id="search">
			<p>Search for an artist. Then, grab a related artist with the popularity of your choice.</p>
			<form ng-submit="main.getArtist(main.keyword)">
				<md-input-container class="my-searchbar">
					<label>Search..</label>
					<input type="text" ng-model="main.keyword">
				</md-input-container>
				<md-input-container>
					<md-button type="submit">Go</md-button>
				</md-input-container>
			</form>
			<section class="fetching-section" ng-if="main.isFetching">
				<p>Fetching...</p>
			</section>
			<section class="result-section" ng-if="main.isFinished">
				<h1>{{ main.artist.name }}</h1>
				<img class="result-image" ng-src="{{ main.artist.images[0].url }}" alt="">
				<md-button class="btn-next btn-next-popular" ng-click="main.getRelated(main.artist.id, 'popular')"> Go Mainstream.. </md-button>
				<md-button class="btn-next btn-next-hipster" ng-click="main.getRelated(main.artist.id, 'hipster')"> Go Hipster.. </md-button>
				<md-button class="btn-next btn-next-whatever" ng-click="main.getRelated(main.artist.id)"> Go Whatever.. </md-button>
				<md-button class="btn-next btn-next-link" target="_blank" href="{{ main.artist.external_urls.spotify }}">Go to Page!</md-button>
			</section>
			<section ng-if="main.noResults" class="error-section">
				<h1>Whooops</h1>
				<p>Sorry, we couldn't find anything. Try something else.</p>
			</section>
		</div>
	</main>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-aria.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.1/angular-material.min.js"></script>
	<!-- Using modified version of angular-spotify I made since the live one is broken on current versions of Angular -->
	<script src="./lib/angular-spotify-mod.js"></script>
	<script src="./lib/my-func.js"></script>
	<script src="app.js"></script>
	<script src="components/library.js"></script>
	<script src="controllers/mainController.js"></script>
</body>
</html>